<div class="main_section">
  <div class="col-sm-9 message_section">
    <div class="chat_area">
      <ul class="chat_list"></ul>
    </div><!--chat_area-->

    <div class="select_msg">
      <div class="chat_bottom">
        <form id="first-message-select">
          <select id="responses"></select>
          <input type="submit" value="Send Message">
        </form>
      </div>
    </div>
  </div> <!--message_section-->
</div>
